#lxdm {
	background-image: url("background.png");
	background-repeat: round;
}

#bottom_pane {
	background-color: rgba(0,0,0,0.24);
}

#time {
	font: Cantarell 12;
	color: #e5e5e5;
}

#prompt {
	font: Cantarell 14;
	color: #e5e5e5;
}

#bottom_pane label,
#bottom_pane GtkLabel {
	font: Cantarell 12;
	color: #6d6d6d;
}
